{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
<h2>Ingreso sesion</h2>

<form method="POST" class="needs-validation" novalidate>
	{% csrf_token %}

  <div class="form-group">
    <label >Nombre usuario</label>
    <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre de Usuario"  name="username"  required>
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" id="validationCustom02" name="password" placeholder="Contraseña"  required>
  </div>
 
  <input type="submit" value="Ingresar"  class="btn btn-info " name="">

</form>
<a href="{%url 'pass_reset' %}">Recuperar Contraseña</a>
</div>
{% endblock %}