{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
<link rel="stylesheet" href="{%static 'css/fonts.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<link rel="stylesheet" href="{% static 'fonts/ionicons.min.css'%}">
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/Basic-fancyBox-Gallery2.js'%}"></script>
<link rel="stylesheet" href="{%static 'css/Basic-fancyBox-Gallery.css'%}">
<link rel="stylesheet" href="{%static 'css/Footer-Basic.css'%}">
<link rel="stylesheet" href="{%static 'css/Lightbox-Gallery.css'%}">
<script src="{% static 'js/jquery.min.js'%}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<div class="carousel slide" data-ride="carousel" id="carousel-1" style="margin-left:auto;margin-right:auto;height:94%;width:100%;padding:0;">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item align-items-center" style="height:auto;"><img class="img-fluid w-100 d-block" src="{% static 'img/Tom.jpg' %}" alt="Slide Image" style="width:801px;">
                <div class="carousel-caption">
                    <p style="color:rgb(255,255,255);font-size:18px;font-family:'Abril Fatface', cursive;text-shadow:-3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">"Estamos felices de tener a Tom en casa. Es un super fiel compañero" &nbsp;</p>
                </div>
            </div>
            <div class="carousel-item" style="height:auto;"><img class="w-100 d-block" src="{% static 'img/Duque.jpg' %}" alt="Slide Image">
                <div class="carousel-caption">
                    <p style="color:rgb(255,255,255);font-family:'Abril Fatface', cursive;font-size:18px;text-shadow:-3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">"Duque es el mejor compañero que pueda tener, siempre me acompaña a todos los sitios"</p>
                </div>
            </div>
            <div class="carousel-item active" style="height:auto;"><img class="w-100 d-block" src="{% static 'img/Apolo.jpg' %}" alt="Slide Image" style="height:auto;">
                <div class="carousel-caption">
                    <p style="color:rgb(255,255,255);font-family:'Abril Fatface', cursive;font-size:18px;text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">"El siempre esta feliz de viajar con nosotros, estamos contentos de poder tenerlo con nosotros"</p>
                </div>
            </div>
        </div>

            {% for perro in perros %} 
    <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
       <img  src="{{perro.fotografia_perro.url}}" class="img-responsive card-img-top" >

        <div class="carousel-caption ">
            <p class="titulo-slide rounded"> {{perro.descripcion}}</p>
            <button href="" class=" btn-hover color-1">ESTADO : {{perro.estado|upper}}</button>
          </div>
    </div>
   
     {% endfor %}

        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
        <ol
            class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
            </ol>
    </div>
    <div class="footer-basic" style="height:130px;background-color:rgb(109,204,170);">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        </footer>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-right">RESCATE</h3>
                    <h6 class="text-right" style="color:rgb(72,78,84);">ETAPA UNO</h6>
                    <h6 class="text-right">_______</h6>
                    <p class="text-right">Rescatamos perros en situacion de peligro y/o abandono. los rehabilitamos y los preparamos para buscarles un hogar.</p><img class="float-right" src="{% static 'img/rescate.jpg' %}"></div>
                <div class="col-md-6"><img src="{% static 'img/crowfunding.jpg' %}" style="width:300px;">
                    <h3 class="text-left" style="color:rgb(0,0,0);">CROWDFUNDING</h3>
                    <h6 class="text-left" style="color:rgb(72,78,84);">FINANCIAMIENTO</h6>
                    <h6 class="text-left">_______</h6>
                    <p class="text-left">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p><button class="btn btn-primary" type="button" style="border:1px solid black;padding:10px;background-color:white;color:black;text-decoration:none;text-transform:uppercase;font-family:'Helvetica', sans-serif;">CAMPAÑAS</button></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row flex-box flex-wrap-wrap" style="margin-top:20px;background-color:#89d2b7;">
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a href="{% static 'img/Chocolate.jpg' %}" class="fancybox" rel="gallery1" title=""><img class="img-fluid" src="{% static 'img/Chocolate.jpg' %}" style="border:solid;border-color:black;"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center"
                style="margin-top:50px;"><a href="{% static 'img/Oso.jpg' %}" class="fancybox" rel="gallery1" title=""><img class="img-fluid" src="{% static 'img/Oso.jpg' %}" style="border:solid;border-color:black;"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a href="{% static 'img/Luna.jpg' %}" class="fancybox" rel="gallery1" title=""><img class="img-fluid" src="{% static 'img/Luna.jpg' %}" style="margin-top:50px;border:solid;border-color:black;"></a></div>
            <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a href="{% static 'img/Wifi.jpg' %}" class="fancybox" rel="gallery1" title=""><img class="img-fluid" src="{% static 'img/Maya.jpg' %}" style="border:solid;border-color:black;"><img class="img-fluid" src="{% static 'img/Wifi.jpg' %}" style="margin-top:20px;border:solid;border-color:black;"></a></div>
            <div
                class="col-sm-4 flex-box flex-justify-center flex-align-center"><a href="{% static 'img/Pexel.jpg' %}" class="fancybox" rel="gallery1" title=""><img class="img-fluid" src="{% static 'img/Pexel.jpg' %}" style="border:solid;border-color:black;"></a></div>
        <div class="col-sm-4 flex-box flex-justify-center flex-align-center"><a href="{% static 'img/Bigotes.jpg' %}" class="fancybox" rel="gallery1" title=""><img class="img-fluid" src="{% static 'img/Bigotes.jpg' %}" style="border:solid;border-color:black;"></a></div>
    </div>
    </div>
    <div class="photo-gallery">
        <div class="container" style="width:902px;">
            <div class="intro"></div>
        </div>
    </div>
    <div class="footer-basic" style="background-color:rgb(143,143,143);">
        <h6 style="color:rgb(0,0,0);">Desarrollo Web y Mobile</h6>
        <footer></footer>
    </div>
    {% endblock %}