{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
 <div class="container" >
<div class="row fila-eliminar">
	
		 	 <form method="POST" >
      {% csrf_token %}
       <div class="card" style="width: 40rem;">
      	<div class="card-header">
   <h4>¿Esta seguro que desea eliminar? {{perro.nombre_perro}}</h4>
  </div>
  {% if perro.foto_perro %}
                <img  src="{{perro.foto_perro.url}}" class="card-img" >
            {% endif %}
  <div class="card-body">
    <p class="card-text text-truncate">{{perro.descripcion}}</p>
  </div>
  <button class="btn btn-warning" type="submit">Si</button>
      <a class="btn btn-dark"  href="{% url 'post_list'%}">Cancelar</a>
</div>
    

  </form>

</div>
 </div>
{% endblock %}