<!DOCTYPE html>
{% extends 'blog/base.html' %}
<html>
<body>
	{% block content %} 
  
<div class="container">
<h1 class="animated fadeInLeft">Perros Disponibles</h1>
<div class="row">
    
    {% for perro in perro %}
    <div class="col-12 col-md-6 col-lg-6">
	   <div class="card mb-3 bg-dark container animated fadeInLeft">
        {% if perro.foto_perro %}
  <img class="card-img-top image-responsive" src="{{perro.foto_perro.url}}" alt="Card image cap">
  {% endif %}
  <div class="card-body card-">
    <h3 class="card-title text-white">{{ perro.nombre_perro }}</h3>
    <h6 class="card-title text-white">{{perro.raza_predominante}}</h6>
    <p class="card-text text-white">{{perro.descripcion}}</p>
    <p class="card-text"><small class="text-muted">{{ perro.published_date }}</small></p>
    <a href="{%url 'login'%}" class="btn btn-success">Adoptar</a>
  </div>
</div>
</div>
 {% endfor %}

</div>
</div>
</div>
   
    {% endblock %}
    

</body>
</html>