{% extends 'perris/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="card card-register ">
  <div class="card-header titulo-login  ">
   <h1 class="card-title animated flipInY">Registrate</h1>
  </div>
  <div class="card-body">
     <form method="POST" class="needs-validation" novalidate >
        {% csrf_token %}
        <!--{{ form.as_p }}-->
       <div class="row" >
         <div class="col-12 col-mb-6 col-lg-6">
             <div class="input-group">
        <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">account_circle</i></div>
                </div>
         <input type="text" id="=username" class="form-control"  placeholder="Nombre de usuario" name="username" required="required">
            </div>
         </div>

         <div class="col-12 col-mb-6 col-lg-6">
         <div class="input-group" >
          <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">account_circle</i></div>
                </div>
           <input type="text" id="=rut" class="form-control" id="validationCustom02" placeholder="Rut"  name="rut" required="required">
           <div class="valid-feedback" >
             Completado
           </div>
     </div>
       </div>
        </div>
 
        <div class="row">
          <div class="col-12 col-mb-6 col-lg-6">
            <div class="form-group" >
         <label for="email"></label>
           <input type="email" class="form-control" id="validationCustom03" placeholder="Ingrese Email"  name="email"  required>
           <div class="valid-feedback" >
             Completado
           </div>
     </div>
          </div>
          <div class="col-12 col-mb-6 col-lg-6">
            <div class="form-group" >
         <label for="telefono"></label>
           <input type="text" class="form-control" id="validationCustom04" placeholder="Teléfono"  name="telefono" required="required">
           <div class="valid-feedback" >
             Completado
           </div>
     </div>
          </div>
        </div>
 
     
        <div class="row">
          <div class="col-12 col-mb-6 col-lg-6">
            
         <select class="form-control" id="regiones" name="region"><optgroup label="This is a group"><option value="12" selected>This is item 1</option></optgroup></select>
          </div>
          <div class="col-12 col-mb-6 col-lg-6">
           <select class="form-control" id="comunas" name="comuna"><optgroup label="This is a group"><option value="12" selected>This is item 1</option></optgroup></select>
          </div>
        </div>
     

         
 <div class="row">
   <div class="col-12 col-mb-6 col-lg-6">
     
     <div class="form-group" >
         <label for="tipovivienda">TipoVivienda</label>
         <section class="input-field col s12">
         <select id="tipovivienda" name="tipovivienda"> 
            <option>Casa con patio grande</option>
            <option>Casa con patio pequeño</option> 
            <option>Casa sin patio</option>
            <option>Departamento</option>
         </select>
          </section>
           <div class="valid-feedback" >
             Completado
           </div>
     </div>
   </div>
   <div class="col-12 col-mb-6 col-lg-6">
     <label>Fecha de Nacimiento : {{form.fecha}}</label>
   </div>
 </div>
     
    
    <div class="row">
      <div class="col-12 col-mb-6 col-lg-6">
        <div class="input-group" >
       <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">security</i></div>
                </div>
          <input type="password" class="form-control"  name="password1" placeholder="Contraseña"  required>
          <div class="valid-feedback" >
           Completado
          </div>
    </div>
 
      </div>
     <div class="col-12 col-mb-6 col-lg-6">
       <div class="input-group" >
        <div class="input-group-prepend">
                  <div class="input-group-text"><i class="material-icons">security</i></div>
                </div>
           <input type="password" class="form-control"  name="password2" placeholder="Confirmar Contraseña"  required>
           <div class="valid-feedback" >
            Completado
           </div>
     </div>
     </div>
 
    </div>
    

     <div class="form-group">
        <input type="submit" value="Registrarse"   class="btn-hover color-1" name="Registrarse">
        <a  class="btn btn-info text-white" href="{% url 'login' %}">Cancelar</a>
      </div>
 </form>
    
  </div>
</div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<script src="{% static 'js/Regionycomuna.js' %}"></script>

{% endblock %}